# Hotel Bookings Analysis

# Part 1 - Data Cleaning and Feature Engineering

<b> Project Objetive: </b>

The objective of this project is to answer the following 3 questions for each hotel of the dataset:
* What is the seasonality for each hotel and what are the top performing months?
* What are the top countries in terms of bookings and/or revenue?
* WhatÂ´s the most frequent guest type for each hotel? 

Also:
* Explore the use of Python for data analysis in the hospitality industry



<b> Data Source: </b>

The dataset used in this project can be found on Kaggle under the following link:

https://www.kaggle.com/jessemostipak/hotel-booking-demand


<b> About the dataset: </b> 

* This data set contains a single file which compares various booking information between two hotels: a city hotel and a resort hotel.
* Includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. A total of 32 variables.
* All personally identifying information has been removed from the data.
* Both hotels are assumed to be located in Portugal, however their exact location and name are unknown.
* The dataset contains a total of 119390 entries.


<b> Table of contents: </b>

1. Importing the libraries and custom functions needed and uploading the dataset
2. Handling null values and dropping unnecessary variables
3. Importing country / continent information
4. Handling datetime variables 
5. Handling monetary variables - ADR 
6. Handling customer data
7. Adding booking value column
8. Exporting the clean dataset

<b> 1. Importing the libraries needed and uploading the dataset </b>

In [1]:
# import required libraries for dataframe and visualization

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import plotly.express as px

In [2]:
# import functions doc
import sys  
sys.path.insert(0, "../_functions_2")
from Functions_EDA import *
from functions_plot_EDA import *

In [3]:
#import file
file_path = "hotel_bookings.csv"
data_raw = pd.read_csv(file_path)

In [4]:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [5]:
data_raw.shape

(119390, 32)

 <b>2. Handling null values and dropping unnecessary variables </b>

In [6]:
percentage_nullValues(data_raw)


# drop company, agent & null rows from country

                                Percentage_NaN
company                                   94.3
agent                                     13.7
country                                    0.4
hotel                                      0.0
previous_cancellations                     0.0
reservation_status                         0.0
total_of_special_requests                  0.0
required_car_parking_spaces                0.0
adr                                        0.0
customer_type                              0.0
days_in_waiting_list                       0.0
deposit_type                               0.0
booking_changes                            0.0
assigned_room_type                         0.0
reserved_room_type                         0.0
previous_bookings_not_canceled             0.0
is_repeated_guest                          0.0
is_canceled                                0.0
distribution_channel                       0.0
market_segment                             0.0
meal                                       0.0
babies                                     0.0
children                                   0.0
adults                                     0.0
stays_in_week_nights                       0.0
stays_in_weekend_nights                    0.0
arrival_date_day_of_month                  0.0
arrival_date_week_number                   0.0
arrival_date_month                         0.0
arrival_date_year                          0.0
lead_time                                  0.0
reservation_status_date                    0.0

 <b> Other unnecessary columns </b>

In [7]:
data_raw.columns

# there are several variables that wonÂ´t be needed in the analysis
# letÂ´s drop them to keep data clean

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
# drop unnecessary columns:
# agent, company, market_segment, previous_bookings_not_canceled, reserved_room_type, 
# days_in_waiting_list, customer_type, 
# stays_in_weekend_nights, stays_in_week_nights, 'is_canceled'
# is_repeated_guest, previous_cancellations, assigned_room_type, booking_changes

col_drop = ["is_canceled", "agent", "company", "market_segment", "previous_bookings_not_canceled",
"reserved_room_type", "days_in_waiting_list",
"stays_in_weekend_nights", "stays_in_week_nights", "customer_type", "is_repeated_guest", "previous_cancellations", "assigned_room_type", "booking_changes"]

data_clean = data_raw.drop(columns = col_drop, axis=1)
data_clean.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,country,distribution_channel,deposit_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,342,2015,July,27,1,2,0.0,0,BB,PRT,Direct,No Deposit,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,737,2015,July,27,1,2,0.0,0,BB,PRT,Direct,No Deposit,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,7,2015,July,27,1,1,0.0,0,BB,GBR,Direct,No Deposit,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,13,2015,July,27,1,1,0.0,0,BB,GBR,Corporate,No Deposit,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,GBR,TA/TO,No Deposit,98.0,0,1,Check-Out,2015-07-03

<b>Cleaning the row values</b>

In [9]:
# drop null rows in the column "country"
data_clean.dropna(subset = ["country"], inplace=True)

In [10]:
data_clean.country.isnull().sum()

0

   <b> 3. Importing country / continent information </b>

In [11]:
# add full names of the countries & corresponding continents
country = pd.read_csv("country_codes.csv")

In [12]:
country.rename(columns={'alpha_3_code': 'country'}, inplace=True)

In [13]:
# merge datasets
data_clean = pd.merge(left = data_clean, right = country, on = "country", how = "left")

In [14]:
percentage_nullValues(data_clean)

                             Percentage_NaN
sub_region                              1.1
continent                               1.1
country_name                            1.1
distribution_channel                    0.0
reservation_status_date                 0.0
reservation_status                      0.0
total_of_special_requests               0.0
required_car_parking_spaces             0.0
adr                                     0.0
deposit_type                            0.0
hotel                                   0.0
lead_time                               0.0
meal                                    0.0
babies                                  0.0
children                                0.0
adults                                  0.0
arrival_date_day_of_month               0.0
arrival_date_week_number                0.0
arrival_date_month                      0.0
arrival_date_year                       0.0
country                                 0.0

In [15]:
null_cont = data_clean[data_clean["continent"].isnull()]
null_cont["country"].value_counts()

CN     1279
TMP       3
ATA       2
Name: country, dtype: int64

In [16]:
# drop the rows with TMP & ATA
data_clean.drop(data_clean[data_clean.country == "TMP"].index, inplace=True)
data_clean.drop(data_clean[data_clean.country == "ATA"].index, inplace=True)

In [17]:
# for country == CN fill in the columns: 
#country_name == China, continent == Asia, sub_region == Eastern Asia
    
data_clean["country_name"].fillna("China", inplace = True)
data_clean["continent"].fillna("Asia", inplace = True)
data_clean["sub_region"].fillna("Eastern Asia", inplace = True)

<b> 4. Handling datetime variables </b>

In [18]:
# datetime variables tasklist:
# 1. change month name into a number - apply
# 2. combine year + month + day colums to a date column > checkin date
# 3. change reservation_status_date column to a date type > checkout date
# 4. create dataset with completed bookings only 
# 5. calculate the length of stay in days for completed bookings
# 6. choose only the bookings made max. 365 days in advance
# 7. calcuate the date the booking was made (checkin date - lead_time)

In [19]:
import datetime

In [20]:
# 1. change checkin month name into a number

def month_name_to_num(months):
    #months = df[col]

    if months == "January":
           return 1
    elif months == "February":
         return 2
    elif months == "March":
        return 3
    elif months == "April":
        return 4
    elif months == "May":
        return 5
    elif months == "June":
        return 6
    elif months == "July":
        return 7
    elif months == "August":
        return 8
    elif months == "September":
        return 9
    elif months == "October":
        return 10
    elif months == "November":
        return 11
    elif months == "December":
        return 12

In [21]:
data_clean["arrival_date_month_num"] = data_clean["arrival_date_month"].apply(month_name_to_num)

In [22]:
# 2. combine year + month + day colums to a date column > checkin date

data_clean['checkin_date'] = data_clean['arrival_date_year'].map(str) + '-' + data_clean['arrival_date_month_num'].map(str) + '-' + data_clean['arrival_date_day_of_month'].map(str)

In [23]:
data_clean[data_clean["arrival_date_month"] == "July"].head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,country_name,continent,sub_region,arrival_date_month_num,checkin_date
0,Resort Hotel,342,2015,July,27,1,2,0.0,0,BB,...,0.0,0,0,Check-Out,2015-07-01,Portugal,Europe,Southern Europe,7,2015-7-1
1,Resort Hotel,737,2015,July,27,1,2,0.0,0,BB,...,0.0,0,0,Check-Out,2015-07-01,Portugal,Europe,Southern Europe,7,2015-7-1
2,Resort Hotel,7,2015,July,27,1,1,0.0,0,BB,...,75.0,0,0,Check-Out,2015-07-02,United Kingdom,Europe,Northern Europe,7,2015-7-1
3,Resort Hotel,13,2015,July,27,1,1,0.0,0,BB,...,75.0,0,0,Check-Out,2015-07-02,United Kingdom,Europe,Northern Europe,7,2015-7-1
4,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,...,98.0,0,1,Check-Out,2015-07-03,United Kingdom,Europe,Northern Europe,7,2015-7-1

In [24]:
# 3. change checkin_date & reservation_status_date column to a date type > checkout date

data_clean[["checkin_date", "reservation_status_date"]] = data_clean[["checkin_date", "reservation_status_date"]].apply(pd.to_datetime)

In [25]:
# 4. create dataset with completed bookings only - the analysis will focus on those
data_clean["reservation_status"].unique()

array(['Check-Out', 'Canceled', 'No-Show'], dtype=object)

In [26]:
data_clean["reservation_status"].value_counts()

# 74741 completed bookings > extract only completed (checked out) bookings

Check-Out    74741
Canceled     42953
No-Show       1203
Name: reservation_status, dtype: int64

In [27]:
data_clean_completed = data_clean[data_clean["reservation_status"] == 'Check-Out']

In [28]:
# 5. calculate the length of stay in days for completed bookings

data_clean_completed['reservation_status_date'] = pd.to_datetime(data_clean_completed['reservation_status_date'], 
format='%Y-%m-%d')
data_clean_completed['checkin_date'] = pd.to_datetime(data_clean_completed['checkin_date'], 
format='%Y-%m-%d')
data_clean_completed['length_of_stay'] =  data_clean_completed['reservation_status_date'] - data_clean_completed['checkin_date']

In [29]:
# change the length of stay datatype to int
data_clean_completed['length_of_stay'] = data_clean_completed['length_of_stay'].dt.days.astype('int16')

In [30]:
# there are stays with checkin and checkout in the same day
data_clean_completed["length_of_stay"].describe()

count    74741.000000
mean         3.395245
std          2.556943
min          0.000000
25%          2.000000
50%          3.000000
75%          4.000000
max         57.000000
Name: length_of_stay, dtype: float64

In [31]:
# there are stays that ended the same day, for the purpose of this analytis letÂ´s delete those rows
data_clean_completed[data_clean_completed["length_of_stay"] == 0].shape

(701, 24)

In [32]:
data_clean_completed = data_clean_completed[data_clean_completed["length_of_stay"] != 0]

In [33]:
# 6. choose only the bookings made max. 365 days in advance
# there are 1015 bookings with the lead time over 1 year, for the purpose of this analysis letÂ´s drop them
data_clean_completed[data_clean_completed['lead_time'] > 365].shape

(1015, 24)

In [34]:
data_clean_completed = data_clean_completed[data_clean_completed['lead_time'] <= 365]

In [35]:
data_clean_completed[data_clean_completed['lead_time'] <= 365].shape

(73025, 24)

In [36]:
# 7. calcuate the date the booking was made (checkin date - lead_time)
data_clean_completed["lead_time_days"] = pd.to_timedelta(data_clean_completed["lead_time"], unit='D')

In [37]:
data_clean_completed['booking_date'] = data_clean_completed['checkin_date'] -  pd.to_timedelta(data_clean_completed['lead_time_days'], unit='D')

In [38]:
data_clean_completed.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,...,reservation_status,reservation_status_date,country_name,continent,sub_region,arrival_date_month_num,checkin_date,length_of_stay,lead_time_days,booking_date
2,Resort Hotel,7,2015,July,27,1,1,0.0,0,BB,...,Check-Out,2015-07-02,United Kingdom,Europe,Northern Europe,7,2015-07-01,1,7 days,2015-06-24
3,Resort Hotel,13,2015,July,27,1,1,0.0,0,BB,...,Check-Out,2015-07-02,United Kingdom,Europe,Northern Europe,7,2015-07-01,1,13 days,2015-06-18
4,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,...,Check-Out,2015-07-03,United Kingdom,Europe,Northern Europe,7,2015-07-01,2,14 days,2015-06-17
5,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,...,Check-Out,2015-07-03,United Kingdom,Europe,Northern Europe,7,2015-07-01,2,14 days,2015-06-17
6,Resort Hotel,0,2015,July,27,1,2,0.0,0,BB,...,Check-Out,2015-07-03,Portugal,Europe,Southern Europe,7,2015-07-01,2,0 days,2015-07-01

In [39]:
# extract year-month / year-week /  weekday of the booking date

def date_conversion(df, varDate):
      """
      Function to convert the dates into week-year, week and week-Day
      inputs: df = dataframe
              varDate = variable that contains the dates to convert
      """
      df[varDate] = pd.to_datetime(df[varDate]) # transform the variable into a datetime
      df['month-year'] = df[varDate].dt.strftime('%Y-%m') 
      df['weekDay'] = df[varDate].dt.strftime('%A')
      df['month-week'] = df[varDate].dt.strftime('%Y-%V')
      return df

In [40]:
date_conversion(data_clean_completed, "booking_date").head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,...,continent,sub_region,arrival_date_month_num,checkin_date,length_of_stay,lead_time_days,booking_date,month-year,weekDay,month-week
2,Resort Hotel,7,2015,July,27,1,1,0.0,0,BB,...,Europe,Northern Europe,7,2015-07-01,1,7 days,2015-06-24,2015-06,Wednesday,2015-26
3,Resort Hotel,13,2015,July,27,1,1,0.0,0,BB,...,Europe,Northern Europe,7,2015-07-01,1,13 days,2015-06-18,2015-06,Thursday,2015-25
4,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,...,Europe,Northern Europe,7,2015-07-01,2,14 days,2015-06-17,2015-06,Wednesday,2015-25
5,Resort Hotel,14,2015,July,27,1,2,0.0,0,BB,...,Europe,Northern Europe,7,2015-07-01,2,14 days,2015-06-17,2015-06,Wednesday,2015-25
6,Resort Hotel,0,2015,July,27,1,2,0.0,0,BB,...,Europe,Southern Europe,7,2015-07-01,2,0 days,2015-07-01,2015-07,Wednesday,2015-27

In [41]:
data_clean_completed.rename(columns = {'month-year':'booking_month_year', "weekDay": "booking_weekday"}, inplace = True)

In [42]:
# extract year-week of the check-in date
data_clean_completed['checkin_week_year'] = data_clean_completed["checkin_date"].dt.strftime('%Y-%V')

In [43]:
# extract year-month of the check-in date
data_clean_completed['checkin_month_year'] = data_clean_completed["checkin_date"].dt.strftime('%Y-%m')

<b>Checkpoint export</b>

In [44]:
# seperate the dataset for each hotel type to handle ADR values
data_resort = data_clean_completed[data_clean_completed["hotel"] == 'Resort Hotel']
data_city = data_clean_completed[data_clean_completed["hotel"] == 'City Hotel']

In [45]:
data_resort.to_csv("data_resort.csv")

In [46]:
data_city.to_csv("data_city.csv")

In [47]:
data_clean_completed.to_csv("data_clean_completed.csv")

In [48]:
data_clean.to_csv("data_clean.csv")

<b> 5. Handling monetary variables - ADR </b>

In [49]:
# city dataset
data_city.adr.describe()

count    45128.000000
mean       106.394168
std         40.042727
min          0.000000
25%         80.000000
50%         99.450000
75%        126.900000
max        510.000000
Name: adr, dtype: float64

In [50]:
# drop all the adr below 30â¬ (min hotelÂ´s rate)
data_city.drop(data_city[data_city["adr"] <= 30].index, inplace=True)

In [51]:
# resort dataset
data_resort.adr.describe()

count    27897.000000
mean        92.684122
std         58.982524
min         -6.380000
25%         50.000000
50%         74.000000
75%        120.000000
max        508.000000
Name: adr, dtype: float64

In [52]:
# drop all the adr below 30â¬ (min hotelÂ´s rate)
data_resort.drop(data_resort[data_resort["adr"] <= 30].index, inplace=True)

In [53]:
# to get more average data we apply IQR over the datasets

def outlier_treatment(df, colname):
    """
    Function that drops the Outliers based on the IQR upper and lower boundaries
    input: df --> dataframe
           colname --> str, name of the column

    """

    # Calculate the percentiles and the IQR
    Q1,Q3 = np.percentile(df[colname], [25,75])
    IQR = Q3 - Q1
    
    # Calculate the upper and lower limit
    lower_limit = Q1 - (1.5 * IQR)
    upper_limit = Q3 + (1.5 * IQR)
    
    # Drop the suspected outliers
    df_clean = df[(df[colname] > lower_limit) & (df[colname] < upper_limit)]
    
    print('Shape of the raw data:', df.shape)
    print('..................')
    print('Shape of the cleaned data:', df_clean.shape)
    return df_clean

In [54]:
data_city = outlier_treatment(data_city, "adr")

Shape of the raw data: (44228, 31)
..................
Shape of the cleaned data: (43027, 31)

In [55]:
data_resort = outlier_treatment(data_resort, "adr")

Shape of the raw data: (26620, 31)
..................
Shape of the cleaned data: (25557, 31)

In [56]:
# resetting index
data_city = data_city.reset_index(drop=True)
data_resort = data_resort.reset_index(drop=True)

In [57]:
# Once weÂ´ve handled the ADR data we can concatenate the dataset again
df_ok = pd.concat([data_city, data_resort])

In [58]:
df_ok = df_ok.reset_index(drop=True)

<b> 6. Handling customer data </b>

In [59]:
df_ok.adults.value_counts()

2    50499
1    14460
3     3471
0      131
4       23
Name: adults, dtype: int64

In [60]:
# dropping bookings with 0 adults

df_ok.drop(df_ok[df_ok["adults"] == 0].index, inplace=True)

In [61]:
df_ok.babies.value_counts()

0     67801
1       641
2         9
10        1
9         1
Name: babies, dtype: int64

In [62]:
# dropping the 2 bookings with extreme number of children
df_ok.drop(df_ok[df_ok["babies"] > 2].index, inplace=True)

In [63]:
df_ok.children.value_counts()

0.0    64265
1.0     2907
2.0     1264
3.0       15
Name: children, dtype: int64

In [64]:
# fixing children datatype
df_ok["children"] = df_ok["children"].astype("int64")

<b> 7. Adding booking value column </b>

In [65]:
# now we have the ADRs cleaned up we can add booking value column

df_ok['booking_value'] = df_ok['adr'] * df_ok['length_of_stay']

In [66]:
# adding booking count column

df_ok["booking"] = 1

In [67]:
df_ok.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,adults,children,babies,meal,...,length_of_stay,lead_time_days,booking_date,booking_month_year,booking_weekday,month-week,checkin_week_year,checkin_month_year,booking_value,booking
0,City Hotel,3,2015,July,27,2,1,0,0,HB,...,3,3 days,2015-06-29,2015-06,Monday,2015-27,2015-27,2015-07,176.01,1
1,City Hotel,43,2015,July,27,3,2,0,0,HB,...,2,43 days,2015-05-21,2015-05,Thursday,2015-21,2015-27,2015-07,172.00,1
2,City Hotel,43,2015,July,27,3,2,0,0,HB,...,2,43 days,2015-05-21,2015-05,Thursday,2015-21,2015-27,2015-07,86.00,1
3,City Hotel,43,2015,July,27,3,2,0,0,HB,...,2,43 days,2015-05-21,2015-05,Thursday,2015-21,2015-27,2015-07,172.00,1
4,City Hotel,4,2015,July,27,3,1,0,0,HB,...,2,4 days,2015-06-29,2015-06,Monday,2015-27,2015-27,2015-07,126.00,1

<b> 8. Exporting the clean dataset </b>

In [68]:
df_ok.to_csv("data_bookings_clean.csv")